# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.part*
.pytest_cache/
.*
_SUCCESS
part*

# log files  to be ignored 
*.log
*.log.*

# packages files 
*package*

# java files to be ignored 
*.class
*.jar
*.war

# node modles ignores
node_modules/

